NezamEquipment.ServiceLayer/Connected Services/TrasnsBankCity/Transmission.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Transmission" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://37.32.45.69:2194/Transmission.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://37.32.45.69:2194/Transmission.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://37.32.45.69:2194/Transmission.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Yaghot" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITransmission_Transfer_InputMessage">
    <wsdl:part name="parameters" element="tns:Transfer" />
  </wsdl:message>
  <wsdl:message name="ITransmission_Transfer_OutputMessage">
    <wsdl:part name="parameters" element="tns:TransferResponse" />
  </wsdl:message>
  <wsdl:message name="ITransmission_TransferBackup_InputMessage">
    <wsdl:part name="parameters" element="tns:TransferBackup" />
  </wsdl:message>
  <wsdl:message name="ITransmission_TransferBackup_OutputMessage">
    <wsdl:part name="parameters" element="tns:TransferBackupResponse" />
  </wsdl:message>
  <wsdl:message name="ITransmission_ArchivePayment_InputMessage">
    <wsdl:part name="parameters" element="tns:ArchivePayment" />
  </wsdl:message>
  <wsdl:message name="ITransmission_ArchivePayment_OutputMessage">
    <wsdl:part name="parameters" element="tns:ArchivePaymentResponse" />
  </wsdl:message>
  <wsdl:message name="ITransmission_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="ITransmission_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:portType name="ITransmission">
    <wsdl:operation name="Transfer">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransmission/Transfer" message="tns:ITransmission_Transfer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransmission/TransferResponse" message="tns:ITransmission_Transfer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TransferBackup">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransmission/TransferBackup" message="tns:ITransmission_TransferBackup_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransmission/TransferBackupResponse" message="tns:ITransmission_TransferBackup_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ArchivePayment">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransmission/ArchivePayment" message="tns:ITransmission_ArchivePayment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransmission/ArchivePaymentResponse" message="tns:ITransmission_ArchivePayment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransmission/Login" message="tns:ITransmission_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransmission/LoginResponse" message="tns:ITransmission_Login_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="basicz" type="tns:ITransmission">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Transfer">
      <soap:operation soapAction="http://tempuri.org/ITransmission/Transfer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TransferBackup">
      <soap:operation soapAction="http://tempuri.org/ITransmission/TransferBackup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ArchivePayment">
      <soap:operation soapAction="http://tempuri.org/ITransmission/ArchivePayment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/ITransmission/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Transmission">
    <wsdl:port name="basicz" binding="tns:basicz">
      <soap:address location="http://37.32.45.69:2194/Transmission.svc/basic" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>