NezamEquipment.ServiceLayer/Connected Services/TrasnsBankCity/Transmission2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://37.32.45.69:2194/Transmission.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Yaghot" />
  <xs:element name="Transfer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Yaghot" minOccurs="0" name="inputPayment" nillable="true" type="q1:InputPaymentType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TransferResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Yaghot" minOccurs="0" name="TransferResult" nillable="true" type="q2:ArrayOfResultTransmission" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TransferBackup">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Yaghot" minOccurs="0" name="inputPayment" nillable="true" type="q3:InputPaymentTypeBackup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TransferBackupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Yaghot" minOccurs="0" name="TransferBackupResult" nillable="true" type="q4:ArrayOfResultTransmission" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ArchivePayment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Yaghot" minOccurs="0" name="inputPayment" nillable="true" type="q5:InputArchivePayment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ArchivePaymentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Yaghot" minOccurs="0" name="ArchivePaymentResult" nillable="true" type="q6:ResultTransmission" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoginResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>